/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F3F3F3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BDBDBD;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A8A8A8;
}
